@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.forms-out {
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
    padding: 15px 0;
}

.forms-in {
    width: 93%;
    margin: 0 auto;
    color: white;
    padding: 15px 0;
}

.forms-in div {
    padding: 30px 20px;
    max-width: 350px;
    margin: 0 auto;
    background: #168ab8;
    border-radius: 5px;
    margin-bottom: 15px;
}

.forms-in h3 {
    text-align: center;
}

.forms-in input {
    border: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.forms-in button {
    border: none;
    padding: 7px 20px;
    background: #e8f8ff;
    color: #168ab8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.forms-in button:hover {
    opacity: 0.7;
}

.hide {
    display: none;
}

#forgot-password {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#forgot-password:hover {
    opacity: 0.7;
}





















.butto {



    /* From https://css.glass */
    background: rgba(252, 217, 217, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(252, 217, 217, 0.3);


}



.button12 {

    margin-top: 15px;

    height: 60px;
    width: 60px;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.forms-out {

    font-family: "Fira Sans", sans-serif;
    background-image: url('https://res.cloudinary.com/dz1dgaf8z/image/upload/v1680202931/pexels-fauxels-3183132_qci2jp.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.forms-in {
    width: 93%;
    margin: 0 auto;
    color: black;
    padding: 15px 0;
    /* From https://css.glass */
    font-weight: bold;
}

.forms-in div {
    padding: 30px 20px;
    width: 360px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);


    margin-bottom: 20px;


}

.forms-in h3 {
    text-align: center;
}

.forms-in input {

    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;


}

.forms-in button {
    border: none;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.forms-in button:hover {
    opacity: 0.7;
}

.hide {
    display: none;
}

#forgot-password {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#forgot-password:hover {
    opacity: 0.7;
}

.img {
    margin-right: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}












input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}



.two {
    margin-left: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.butto {


    padding: 10px;


    /* From https://css.glass */
    background: rgba(252, 217, 217, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(252, 217, 217, 0.3);

}



.button1 {
    margin-top: 15px;
    margin-right: 30px;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}



.collapsible {


    color: #444;
    cursor: pointer;
    padding: 12px;

    border: none;

    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
    border-radius: 20px;

}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    flex-direction: column;
}

Example body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}